* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.login-body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
    background: white;
}

.login-container {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #c4c4c4;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login-container h1 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.field-group {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0 10px;
}

.input-field { 
    position: relative;
    width: 100%;
    outline: 0;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid rgb(226, 226, 226);
    padding: 10px;
    padding-left: 60px; 
    background: transparent;
    margin-bottom: 25px;
}

.icon {
    position: absolute;
    left: 10px;
    top: -11px;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 1.6em;
}

.input-field::placeholder {
    color: #999999;
}

.input-field:focus {
    color: #000000;
    border-color: #000000;
}

.input-field:focus ~ .icon {
    color: black;
}

.button-group{
    width: 34%;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}

.login-button {
    width: 100%;
    height: 60px;
    outline: 0;
    color: white;
    border: none;
    text-align: left;
    padding: 0 25px;
    border-radius: 5px;
    font-size: 20px;
    background-color:#316FF6;
    cursor: pointer;    
}

.button-icon {
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.6em;
    float: right;
}

.login-button:hover {
    background-color:#145efc;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    position: absolute; 
    overflow: hidden;
    flex-direction: column;
    display: flex;
}

.header { 
    width: 100%;
    height: 18%;
    background-color: rgb(60, 92, 235);
    display: flex;
    position: absolute;
    color: white;
    justify-content: center;
    text-align: center;
}  

.header h1 {
    margin-top: 15px;
    font-size: 36px;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #3e3d3d;
    transition: all .5s ease;
}

.sidebar header {
    margin-top: 15px;
    font-size: 30px;
    color: white;
    text-align: center;
    user-select: none;
}

.sidebar ul{
    margin-top: 25px;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    transition: .5s;
}

ul li:hover a {
    padding-left: 20px;
    background-color: #807f7f;
}

#check {
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    z-index: 1;
    transition: all 0.5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 15px;
    font-size: 25px;
    color: #807f7f;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 200px;
}

#check:checked ~ section{
    margin-left: 250px;
}

#check:checked ~ footer{
    margin-left: 250px;
}

#check:checked ~ .top-header{
    margin-left: 250px;
}

.top-header{
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    background-color: #316FF6;
    position: absolute;
    display: block;
    color: white;
    transition: all 0.5s;
}

.top-header h1{
    margin-top: 25px;
    text-align: center;
}

.logout-btn {
    float: right;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    border-radius: 3px;
    background-color: red;
    border: none;
    height: 35px;
    width: 80px;
    cursor: pointer;
}

section {
    top: 120px;
    bottom: 50px;
    right: 0;
    left: 0;
    margin-top: 35px;
    color: black;
    height: 100vh;
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    transition: all 0.5s;
}

footer {
    height: 50px;
    background-color: #3e3d3d;
    color: #fff;
    padding: 10px;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    bottom: 0;
    right: 0;
    left: 0;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    
}

